@model AdminViewModel



@using System.Security.Claims;
@using CIPlatform_Main.Entities.Models;
@{
	var identity = User.Identity as ClaimsIdentity;
	var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
	var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
	var Email = identity?.FindFirst(ClaimTypes.Email)?.Value;
	var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;

}




<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

@*
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">*@


	<link rel="stylesheet" href="~/css/datatables.css">
	
	<link rel="stylesheet" href="~/css/User.css">
	<title>User</title>
</head>
<body>
	<div style="background-color:red !important;">
		@if (TempData["Success Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.success('@TempData["Success Message"]');
			</script>
		}
		@if (TempData["Error Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.error('@TempData["Error Message"]');
			</script>
		}
	</div>
	<div class="container-fluid m-0 " style="width:100vw;">
		<div class="row d-flex">

			<!-- Left Part Div -->
			<div class="navigationbar col-2 col-xl-2 col-lg-3 col-md-1 d-none d-md-block px-2 px-lg-2 px-md-0 ">
				<div class="mt-4 col-12 d-none d-lg-block">
					<lable class="sideheader fw-bold fs-6 text-white text-break">Navigationbar</lable>
				</div>
				<ul class="nav nav-pills flex-column mb-auto mt-4 mt-lg-4 mt-md-5">

					<li class="nav-item">
						<a href="@Url.Action("UserPage","Admin")" class="nav-link sidebarcontent " aria-current="page" id="userSelectedBg">

							<i class="bi bi-person-fill sidebar-img "></i>
							<lable class="d-block d-lg-block d-md-none">User</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("CMSPage","Admin")" class="nav-link sidebarcontent ">

							<i class="bi bi-file-earmark-text-fill sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none"> CMS Page</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("MissionPage","Admin")" class="nav-link sidebarcontent">

							<i class="bi bi-bullseye sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none"> Mission</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("MissionThemePage","Admin")" class="nav-link sidebarcontent">


							<i class="bi bi-grid-1x2-fill sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none">Mission Theme</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("MissionSkillsPage","Admin")" class="nav-link sidebarcontent">

							<i class="bi bi-tools sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none">Mission Skills</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("MissionApplicationPage","Admin")" class="nav-link sidebarcontent ">

							<i class="bi bi-folder-fill sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none">Mission Application</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("StoryPage","Admin")" class="nav-link sidebarcontent">

							<i class="bi bi-book-half sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none">Story</lable>
						</a>
					</li>
					<li>
						<a href="@Url.Action("BannerPage","Admin")" class="nav-link sidebarcontent">

							<i class="bi bi-border-style sidebar-img me-2"></i>

							<lable class="d-block d-lg-block d-md-none">Banner Management</lable>
						</a>
					</li>

				</ul>
			</div>

			<div class="col-10 col-xl-10 col-lg-9 col-md-11 ">
				<div class="row shadow-lg " style="height:50px;">
					<div class="col-12 d-flex bg-white ">
						<div class="col-3 d-block d-md-none d-flex align-items-center">
							<button class="border-0 bg-white" type="button" data-bs-toggle="offcanvas"
									data-bs-target="#Adminoffcanvas" aria-controls="offcanvasWithBothOptions">
								<i class="bi bi-list " style="font-size:40px;"></i>
							</button>
						</div>

						@{
							string currentDayOfWeek = DateTime.Today.ToString("dddd");
							DateTime now = DateTime.Now;
							string currentMonth = now.ToString("MMMM");

							<div class="col-6 d-flex align-items-center">
								@currentDayOfWeek , @currentMonth @DateTime.Now.Day , @DateTime.Now.Year ,@DateTime.Now.ToString("hh:mm tt")
							</div>
						}
						<div class="col-6 d-none d-md-block">
							<div class="dropdown d-flex justify-content-end ">
								<a class="btn btn-secondary  bg-transparent text-dark border-0 pt-0 policyDropdown p-0"
								    role="button" data-bs-toggle="dropdown" aria-expanded="false">
									@{

										<img src="@Model.UserList.Where(z=>z.UserId == Convert.ToUInt32(uid)).Select(x=>x.Avatar).FirstOrDefault()"
											 class="rounded-circle mt-1 me-2" width="40px" height="40px" alt="">
									}
								</a>
								<span class="mt-2 me-3">@name @surname</span>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-action="Logout" asp-controller="Login">Logout</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="loadSideBar">

					@await Html.PartialAsync("~/Views/Shared/_UserPartial.cshtml")
				</div>



			</div>


			<!--below div tag is for offcanvas-->
			<div class="d-block d-md-none offcanvas offcanvas-start adminofcanvasdiv h-100" data-bs-scroll="true"
				 tabindex="-1" id="Adminoffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title fw-bold fs-6 text-white text-break" id="offcanvasWithBothOptionsLabel">
						NAVIGATION
					</h5>
					<button type="button" class="border-0" data-bs-dismiss="offcanvas" aria-label="Close"
							style="background-color:#F88634;">
						<i class="bi bi-x-lg"></i>
					</button>
				</div>
				<div class="offcanvas-body">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
							<img src="~/Assets/user1.png" alt="mdo" width="40" height="40"
		 class="rounded-circle loginimg">
							<span class="text-white">Dropdown button</span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>

					<ul class="nav nav-pills flex-column mb-auto mt-3">

						<li class="nav-item">
							<a href="#1" class="nav-link sidebarcontent  " aria-current="page">

								<i class="bi bi-person-fill sidebar-img "></i>
								<lable class="d-block d-lg-block d-md-none">User</lable>
							</a>
						</li>
						<li>
							<a href="#2" class="nav-link sidebarcontent ">

								<i class="bi bi-file-earmark-text-fill sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none"> CMS Page</lable>
							</a>
						</li>
						<li>
							<a href="#3" class="nav-link sidebarcontent">

								<i class="bi bi-bullseye sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none"> Mission</lable>
							</a>
						</li>
						<li>
							<a href="#4" class="nav-link sidebarcontent">


								<i class="bi bi-grid-1x2-fill sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none">Mission Theme</lable>
							</a>
						</li>
						<li>
							<a href="#5" class="nav-link sidebarcontent">

								<i class="bi bi-tools sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none">Mission Skills</lable>
							</a>
						</li>
						<li>
							<a href="#6" class="nav-link sidebarcontent ">

								<i class="bi bi-folder-fill sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none">Mission Application</lable>
							</a>
						</li>
						<li>
							<a href="#7" class="nav-link sidebarcontent">

								<i class="bi bi-book-half sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none">Story</lable>
							</a>
						</li>
						<li>
							<a href="#8" class="nav-link sidebarcontent">

								<i class="bi bi-border-style sidebar-img me-2"></i>

								<lable class="d-block d-lg-block d-md-none">Banner Management</lable>
							</a>
						</li>

					</ul>

				</div>
			</div>
		</div>

	</div>




	@*Main Jquery CDN Link*@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	@*<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>*@







	<script>


	
		// Below code is for Search bar and pagination
			//$.noConflict();

			//jQuery(document).ready(function ($) {

			//$('#mission-table').DataTable({
			//		"pageLength": 5
			//	});

			//	$('#myTable_filter label input').attr('placeholder', 'Search...').attr('value', '');
			//	$('#myTable_filter label').contents().filter(function () {
			//		return this.nodeType === 3;
			//	}).remove();
			//});


		// Below code is for side bar Active on click
		$('#userSelectedBg').addClass('active');
		$('.nav-link').on('click', function (event) {
			$('.nav-link').removeClass('active');
			$('#userHighlight').removeClass('active');
			$(this).addClass('active');
			event.preventDefault();
			var url = $(this).attr('href');
			$('#loadSideBar').load(url);
		});


		var userid = 0;
		function loadUserData(userId) {
			$.ajax({
				method: 'GET',
				url: '/Admin/getDataForUser',
				data: {
					uId: userId
				},
				dataType: 'json',
				success: function (data) {
					//for date only
					userid = userId
					$('#fName').val(data.firstName);
					$('#lName').val(data.lastName);
					$('#email').val(data.email);
					$('#empId').val(data.employeeId);
					$('#dept').val(data.department);
					$('#status').val(data.status);
					$('#userid').val(data.userId);
				},
				error: function (xhr, status, error) {
					// Handle errors
				}
			});
		}



		function EditData() {
			var Fname = document.getElementById("fName").value;
			var Lname = document.getElementById("lName").value;
			var Mail = document.getElementById("email").value;
			var EmpId = document.getElementById("empId").value;
			var Department = document.getElementById("dept").value;
			var status = document.getElementById("status").value;
			$.ajax({
				url: "/Admin/EditUserData",
				type: "POST",
				data: {
					"Name": Fname,
					"Surname": Lname,
					"email": Mail,
					"EmployeeId": EmpId,
					"userid": userid,
					"DeptName": Department,
					"Ustatus": status
				},
				success: function (result) {
					//alert("Data Edited successfully");
					location.reload();
				},
				error: function (result) {
					alert("error occur in Editing");
				}
			});
		}




		// Method for get user id for deleting data
		var userid = 0;
		function getUserId(userId) {
			userid = userId;
		}
		// Method for delete user data
		function deleteUserData() {
			$.ajax({
				method: 'POST',
				url: '/Admin/deleteUserData',
				data: {
					uId: userid
				},
				success: function (data) {
					location.reload();
					//alert("deleted Successfully");
				},
			});
		}


		$('#userForm').on('submit', e => addDataToDatabase(e));

		function addDataToDatabase() {

			event.preventDefault();

			$("#userForm").valid();
			if (!$("#userForm").valid()) {

				return;
			}
			else {
			var firstName = $("#addFName").val();
			var lastName = $("#addLName").val();
			var email = $("#addEmail").val();
			var password = $("#addPassword").val();
			var phnNumber = $("#addPhnNumber").val();
			var avtar = $("#addAvatar").val();
			var empid = $("#addEmpId").val();
			var dept = $("#addDeptName").val();
			var uStatus = $("#addStatus").val();

			$.ajax({
				url: "/Admin/addUserData",
				type: "POST",
				data: {
					"Ufname": firstName,
					"Ulname": lastName,
					"Uemail": email,
					"Upwd": password,
					"UphnNumber": phnNumber,
					"Uavtar": avtar,
					"Uempid": empid,
					"UDept": dept,
					"Usts": uStatus,
				},
				success: function (result) {
					location.reload();
				},
				error: function (result) {
					alert("error occur in add");
				}
			});
		}

	
		}

	</script>
	

	@*<script type="text/javascript">
		$(document).ready(function () {
			var dataTable = $('#user-table').DataTable({
				"pageLength": 4,
			});
			$('#search-bar').keyup(function () {
				dataTable.search(this.value).draw();
			});
		});
	</script>*@
</body>
</html>