@model BannerVM

<!-- Right Part Div for Tables -->
<div class="col-12 col-xl-10 col-lg-9 col-md-11 ">
	<div class="row shadow-lg " style="height:50px;">
		<div class="col-12 d-flex bg-white ">
			<div class="col-3 d-block d-md-none d-flex align-items-center">
				<button class="border-0 bg-white" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#Adminoffcanvas" aria-controls="offcanvasWithBothOptions">
					<i class="bi bi-list " style="font-size:40px;"></i>
				</button>
			</div>
			<div class="col-6 d-flex align-items-center">
				@{
					DateTime now = DateTime.Now;
					string formattedTime = now.ToString("dddd, MMMM d, yyyy, h:mm:ss tt");

				}
				@formattedTime
			</div>
			<div class="col-6 d-none d-md-block">
				<div class="dropdown d-flex justify-content-end ">
					<button class="btn ms-auto me-3 dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false">
						<img src="~/Assets/user1.png" alt="mdo" width="40" height="40"
		class="rounded-circle loginimg">
						Dropdown button
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h3 class="mt-3 ms-3 mb-0">Banner Management</h3>
			<hr class="m-0 mt-2">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-4 ">
			<div class="input-group rounded">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
					   aria-describedby="search-addon" />
			</div>
		</div>

		<div class="col-8">
			<div class="addBtn float-end">
				<button type="button" class="btn btn-outline-warning px-3" data-bs-toggle="modal" data-bs-target="#AddDataModel" style="border-radius: 50px;">
					Add
				</button>
				<div class="modal fade" id="AddDataModel" tabindex="-1"
					 aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">
									Please fill below detail
								</h5>
								<button type="button" class="btn-close"
										data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form id="bannerForm">
								<div class="modal-body">
									<div class="mb-3">
										<label for="exampleFormControlInput1"
											   class="form-label">Banner Text</label>
										<input type="text" class="form-control " id="bText" asp-for="Text"
											   placeholder="Enter your Banner Text">									
										<span asp-validation-for="Text" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput1"
											   class="form-label">Banner Image</label>
										<input type="file" class="form-control " id="bImg" placeholder="Select Banner Image" asp-for="Image">
										<span asp-validation-for="Image" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput1"
											   class="form-label">Sort Order</label>
										<input type="text" class="form-control " id="bOrder" placeholder="Enter Sort Order" asp-for="SortOrder">
										<span asp-validation-for="SortOrder" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput1"
											   class="form-label">Created At</label>
										<input type="date"
											   class="form-control " placeholder="Select Date" id="bDate" asp-for="CreatedAt">
										<span asp-validation-for="CreatedAt" class="text-danger"></span>
									</div>


									<div class="modal-footer">
										<button type="button" class="btn btn-outline-dark"
												style="border-radius:50px"
												data-bs-dismiss="modal">
											Cancel
										</button>
										<button type="submit" class="btn btn-outline-warning"
												style="border-radius:50px" >
											Save
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3 mx-2 ">
			<div class="col-12 table-responsive-sm">
				<table class="table table-bordered table-striped" id="mission-table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Banner Id</th>
							<th scope="col">Banner Image </th>
							<th scope="col">Banner Text</th>
							<th scope="col">Sort Order</th>
							<th scope="col">Created At</th>

							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var banner in Model.BannerList)
						{
							<tr>
								<td scope="row">@banner.BannerId</td>
								<td scope="row">@banner.Image</td>
								<td scope="row">@banner.Text</td>
								<td scope="row">@banner.SortOrder</td>
								<td scope="row">@banner.CreatedAt</td>



								<td class="p-0 pt-2 px-1 d-flex">

									<div class="mb-2">
										<button type="button" data-bs-toggle="modal"
												data-bs-target="#bannerModel" class="border-0 bg-transparent" onclick="loadBannerData(@banner.BannerId)">
											<i class="bi bi-pencil-square text-warning"></i>
										</button>

										<div class="modal fade" id="bannerModel" tabindex="-1"
											 aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">
															Please Input for Mission Edit
														</h5>
														<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<form method="post" asp-controller="Admin" asp-action="EditBannerData">
														@*missionid is for Data Edit post method and mid is for getdata for Edit*@
														<input hidden name="bannerId" id="bid">
														<div class="modal-body">
															@*value="@goalMission.MissionId"*@

															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Banner Image</label>
																<input type="text" class="form-control " id="bannerIMgE" asp-for="Image">
																<span asp-validation-for="Image" class="text-danger"></span>
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Banner text</label>
																<input type="text" class="form-control " id="bannertTextE" asp-for="Text">
																<span asp-validation-for="Text" class="text-danger"></span>
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Sort Order</label>
																<input type="text" class="form-control " id="sortOrderE" asp-for="SortOrder">
																<span asp-validation-for="SortOrder" class="text-danger"></span>
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Created at</label>
																<input type="text" class="form-control " id="CreateDateE" asp-for="CreatedAt">
																<span asp-validation-for="CreatedAt" class="text-danger"></span>
															</div>



														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-outline-dark"
																	style="border-radius:50px"
																	data-bs-dismiss="modal">
																Cancel
															</button>
															<button type="submit" class="btn btn-outline-warning"
																	style="border-radius:50px">
																Edit
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>

									</div>
									<div>
										<button type="button" data-bs-toggle="modal"
												data-bs-target="#exampleModalGoalForDecline"
												class="border-0 bg-transparent" onclick="getidForBanner(@banner.BannerId)">
											<i class="bi bi-trash3 text-dark"></i>
										</button>
										<div class="modal fade" id="exampleModalGoalForDecline" tabindex="-1"
											 aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
														<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">

														<div class="mb-3">
															<label for="exampleFormControlInput1"
																   class="form-label">Are you sure you want to Delete Banner??</label>
														</div>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-outline-dark"
																style="border-radius:50px"
																data-bs-dismiss="modal">
															Cancel
														</button>
														<button type="button" class="btn btn-outline-warning"
																style="border-radius:50px" data-bs-dismiss="modal" onclick="deleteBanner()">
															Delete
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>


								</td>
							</tr>


						}

					</tbody>
				</table>
			</div>
		</div>


	</div>

</div>
<partial name="_ValidationScriptsPartial"></partial>


<script>

	$('#bannerForm').on('submit', e => submitBannerData(e));

	function submitBannerData(event) {
		event.preventDefault();

		$("#bannerForm").valid();
		if (!$("#bannerForm").valid()) {

			return;
		}
		else {


			var text = $("#bText").val();
			var image = $("#bImg").val();
			var sortorder = $("#bOrder").val();
			var date = $("#bDate").val();

			
			$.ajax({
				url: "/Admin/SaveBannerData",
				type: "POST",
				data: {
					"textB": text,
					"imageB": image,
					"sOrderB": sortorder,
					"dateB": date,

				},
				success: function (result) {
					location.reload();



				},
				error: function (result) {
					alert("error occur in Mission");
				}
			});
		}

	}

	function loadBannerData(bannerId) {
		$.ajax({
			method: 'GET',
			url: '/Admin/getDataForEditBanner',
			data: {
				bId: bannerId
			},
			dataType: 'json',
			success: function (data) {


				//$('#missionName').val(data.mission);
				$('#bannerIMgE').val(data.bImage);
				$('#bannertTextE').val(data.bText);
				$('#sortOrderE').val(data.bOrder);
				$('#CreateDateE').val(data.bDate);
				$('#bid').val(data.bannerId);

			},
			error: function (xhr, status, error) {
				// Handle errors
			}
		});
	}


	var banId = 0;
	function getidForBanner(bid) {
		banId = bid
	}

	function deleteBanner() {
		$.ajax({
			method: 'POST',
			url: '/Admin/deleteBannerData',
			data: {
				bannerPageId: banId
			},
			success: function (data) {
				location.reload();
				//alert("deleted Successfully");
			},
		});
	}
</script>