@model MissionVMAdmin


<style>
	#mission-table_filter {
		margin-right: 77%;
		margin-bottom: 16px;
	}

	#mission-table_previous, #mission-table_next {
		display: none;
	}

	#mission-table_paginate {
		margin-top: 20px
	}
</style>
<!-- Right Part Div for Tables -->
<div class="col-12 col-xl-10 col-lg-9 col-md-11 ">

	<div class="row">
		<div class="col-12">
			<h3 class="mt-3 ms-3 mb-0">Mission</h3>
			<hr class="m-0 mt-2">
		</div>
	</div>
	<div class="row mt-3 d-flex">
		<div class="col-4 ">
			<div class="input-group rounded search-bar">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
					   aria-describedby="search-addon" id="search-bar" />
			</div>
		</div>


		<div class="col-8">
			<div class="addBtn float-end">
				<button type="button" class="btn btn-outline-warning px-3"  style="border-radius: 50px;" id="missionAdd">
					Add
				</button>
			
			</div>
		</div>
		<div class="row mt-3 mx-2 ">
			<div class="col-12 table-responsive-sm">
				<table class="table table-bordered table-striped" id="mission-table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Mission Title</th>
							<th scope="col">Mission Type</th>
							<th scope="col">StartDate</th>
							<th scope="col">EndDate</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var mission in Model.MissionList)
						{
							<tr>
								<td scope="row">@mission.Title</td>
								<td scope="row">@mission.MissionType</td>
								<td scope="row">@mission.StartDate</td>
								<td scope="row">@mission.EndDate</td>
								@if (mission.Status == "Active")
								{
									<td scope="row" class="text-success">@mission.Status</td>
								}
								else
								{
									<td class="text-danger">@mission.Status</td>
								}

								<td class="p-0 pt-2 px-1 d-flex">
									<div class="mb-2">
										<button type="button" data-bs-toggle="modal"
												data-bs-target="#exampleModalMissionEdit" class="border-0 bg-transparent" onclick="loadMissionData(@mission.MissionId)">
											<i class="bi bi-pencil-square text-warning"></i>
										</button>

										<div class="modal fade" id="exampleModalMissionEdit" tabindex="-1"
											 aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">
															Please Input for Mission Edit
														</h5>
														<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<form method="post" asp-controller="Admin" asp-action="EditMissionData">
														@*missionid is for Data Edit post method and mid is for getdata for Edit*@
														<input hidden name="missionid" id="mid">
														<div class="modal-body">
															@*value="@goalMission.MissionId"*@

															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Mission Title</label>
																<input type="text" class="form-control " id="missionTitle" value="missionTitle" asp-for="title">
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Mission Type</label>
																<input type="text" class="form-control "
					   id="missionType" value="missionType" asp-for="missionType">
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Start date</label>
																<input type="text"
					   class="form-control "
					   id="startDate" value="startDate" asp-for="startDate">
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">End Date</label>
																<input type="text"
					   class="form-control "
					   id="endDate" value="endDate" asp-for="endDate">
															</div>
															<div class="mb-3">
																<label for="exampleFormControlInput1"
																	   class="form-label">Status</label>
																<input type="text"
					   class="form-control "
					   id="missionstatus" value="missionstatus" asp-for="status">
															</div>


														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-outline-dark"
																	style="border-radius:50px"
																	data-bs-dismiss="modal">
																Cancel
															</button>
															<button type="submit" class="btn btn-outline-warning"
																	style="border-radius:50px">
																Edit
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>

									</div>
									<div>
										<button type="button" data-bs-toggle="modal"
												data-bs-target="#exampleModalGoal"
												class="border-0 bg-transparent" onclick="getMissionId(@mission.MissionId)">
											<i class="bi bi-trash3 text-dark"></i>
										</button>
										<div class="modal fade" id="exampleModalGoal" tabindex="-1"
											 aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
														<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">

														<div class="mb-3">
															<label for="exampleFormControlInput1"
																   class="form-label">Are you sure you want to delete??</label>
														</div>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-outline-dark"
																style="border-radius:50px"
																data-bs-dismiss="modal">
															Cancel
														</button>
														<button type="button" class="btn btn-outline-warning"
																style="border-radius:50px" data-bs-dismiss="modal" onclick="deleteMissionData()">
															Delete
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</td>
							</tr>


						}

					</tbody>
				</table>
			</div>
		</div>


	</div>

</div>



<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>

	$(function () {
		$('#missionAdd').on('click', function () {
			$.ajax({
				url: '@Url.Action("MissionAdd", "Admin")',
				type: 'GET',
				success: function (result) {
					$('#loadSideBar').html(result);
				}
			});
		});
	});

	function submitMissionData() {
		var title = $("#mTitle").val();
		var type = $("#mType").val();
		var sdate = $("#SDate").val();
		var edate = $("#EDate").val();
		var mstatus = $("#missionStatus").val();

		$.ajax({
			url: "/Admin/SaveMissionData",
			type: "POST",
			data: {
				"mTitle": title,
				"mType": type,
				"SDate": sdate,
				"EDate": edate,
				"msts": mstatus,
			},
			success: function (result) {
				location.reload();
				alert("Mission Add successfully");


			},
			error: function (result) {
				alert("error occur in Mission");
			}
		});
	}

	function loadMissionData(missionId) {
		$.ajax({
			method: 'GET',
			url: '/Admin/getDataForEditMission',
			data: {
				mId: missionId
			},
			dataType: 'json',
			success: function (data) {


				//$('#missionName').val(data.mission);
				$('#missionTitle').val(data.mTitle);
				$('#missionType').val(data.mType);
				$('#startDate').val(data.sDate);
				$('#endDate').val(data.eDate);
				$('#missionstatus').val(data.mStatus);
				$('#mid').val(data.mid);

			},
			error: function (xhr, status, error) {
				// Handle errors
			}
		});
	}

	var mid = 0;
	function getMissionId(missionid) {
		mid = missionid;
	}

	function deleteMissionData() {
		$.ajax({
			method: 'POST',
			url: '/Admin/deleteMissionData',
			data: {
				missionId: mid
			},
			success: function (data) {
				location.reload();
				//alert("deleted Successfully");
			},
		});
	}


	$(document).ready(function () {
		var dataTable = $('#mission-table').DataTable({
			"pageLength": 4,
		});
		$('#search-bar').keyup(function () {
			dataTable.search(this.value).draw();
		});
	});

</script>