@model AdminViewModel;
@{
	Layout = "~/Views/Admin/User.cshtml";
}
<div class="col-12" id="loadSideBarForCMSPage" style=" height: 100vh;overflow-y: scroll;">
	<div class="title">
		<h2 class="fs-3">Mission Edit</h2>
	</div>
	<form class="form" method="post" asp-action="AddEditedData" asp-controller="Admin" enctype="multipart/form-data">
		<div class="row">
			<input hidden name="mId" asp-for="missionId" />
			<div class="col">
				<label for="inputEmail4" class="form-label">Mission Title</label>
				<input type="text" class="form-control" placeholder="Enter Mission Title" aria-label="Enter Misison Title" id="mTitle" asp-for="title">
				<span asp-validation-for="title" class="text-danger"></span>
			</div>
			<div class="col">
				<label for="inputEmail4" class="form-label">Short Description</label>
				<input type="text" class="form-control" placeholder="Mission short description" aria-label="Enter Mission Short Description" id="mShortDescription" asp-for="shortDescription">
				<span asp-validation-for="shortDescription" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="mb-3">
				<label for="inputEmail4" class="form-label">Mission Description</label>
				<textarea class="form-control" rows="3" asp-for="description" id="mDescription"></textarea>
				<span asp-validation-for="description" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<label for="inputEmail4" class="form-label">Organization Name</label>
				<input type="text" class="form-control" placeholder="Enter Organisation Name"
		aria-label="Enter your title" asp-for="organizationName" id="mOrganizationName">
				<span asp-validation-for="organizationName" class="text-danger"></span>
			</div>
			<div class="col">
				<label for="inputEmail4" class="form-label">Mission Type</label>
				<select asp-for="missionType" class="form-select" id="mType">
					<Option>Select Mission Type</Option>
					<option value="Goal">Goal</option>
					<option value="Time">Time</option>
				</select>
				<span asp-validation-for="missionType" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Organization Detail</label>
				<textarea class="form-control" rows="3" asp-for="organizationDetail" id="mOrganisationDetail"></textarea>
				<span asp-validation-for="organizationDetail" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<label for="inputEmail4" class="form-label">Start Date</label>
				<input type="text" class="form-control" placeholder="Enter Mission Start Date"
		aria-label="Enter your title" asp-for="startDate" id="mStartDate">
				<span asp-validation-for="startDate" class="text-danger"></span>
			</div>
			<div class="col">
				<label for="inputEmail4" class="form-label">End Date</label>
				<input type="text" class="form-control" placeholder="Enter Mission End Date"
		aria-label="Enter your mdepartment" asp-for="endDate" id="mEndDate">
				<span asp-validation-for="endDate" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<label for="inputState" class="form-label">Country</label>
				<select id="Country" asp-for="countryId" class="form-select">
					@foreach (var country in Model.CountryList)
					{
						if (@country.CountryId == Model.countryId)
						{
							<option>@country.Name</option>
						}
					}
				</select>
				<span asp-validation-for="countryId" class="text-danger"></span>
			</div>
			<div class="col-md-6">
				<label for="inputState" class="form-label">City</label>
				<select id="City" asp-for="cityId" class="form-select">
					@foreach (var city in Model.CityList)
					{
						if (@city.CityId == Model.cityId)
						{
							<option>@city.Name</option>
						}
					}
				</select>
				<span asp-validation-for="cityId" class="text-danger"></span>
			</div>
		</div>

		<div class="row mt-4" id="editGoalBaseMission">
			<div class="col">
				<label for="inputEmail4" class="form-label">Total Seats </label>
				<input type="text" class="form-control" placeholder="Enter seats"
		aria-label="Enter Total Seats " asp-for="totalSeats" id="totalSeats" />
				<span asp-validation-for="totalSeats" class="text-danger"></span>
			</div>
			<div class="col">
				<label for="inputEmail4" class="form-label">Deadline Date</label>
				<input type="date" class="form-control" placeholder="Enter deadline"
		aria-label="Enter Deadline" asp-for="deadline" id="deadline">
				<span asp-validation-for="deadline" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<label for="inputState" class="form-label">Mission Theme</label>
				<select asp-for="themeId" class="form-select" id="mTheme">

					@foreach (var theme in Model.MissionThemeList)
					{
						<option value="@theme.MissionThemeId">@theme.Title</option>
					}
				</select>
				<span asp-validation-for="themeId" class="text-danger"></span>
			</div>
			<div class="col-md-6">
				<label for="inputState" class="form-label">Skill Name</label>
				<div class="dropdown">
					<button class="btn btn-primary bg-transparent text-dark border-dark w-100 float-start" type="button" id="mSkill"
							data-bs-toggle="dropdown" aria-expanded="false">
						Select Skills
					</button>
					<ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
						@foreach (var skill in Model.SkillsList)
						{
							<li>
								<a class="dropdown-item" >
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="listOfSkill" value="@skill.SkillId" id="@skill.SkillId" />
										<label class="form-check-label" for="@skill.SkillId">@skill.SkillName</label>
									</div>
								</a>
							</li>
						}

					</ul>
				</div>

			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<label for="inputState" class="form-label">Current Skill</label>
				<div id="skill-preview">
					@foreach (var missionSkill in Model.MissionSkillList)
					{
						if (@missionSkill.MissionId == Model.missionId)
						{
							<span class="badge bg-primary me-1">@missionSkill.Skill.SkillName</span>
						}
					}
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<label for="inputState" class="form-label">Availabilty</label>
				<select asp-for="availability" class="form-select" id="availability">
					<option selected>Choose...</option>
					<option value="Monthly">Monthly</option>
					<option value="Weekly">Weekly</option>
					<option value="Daily">Daily</option>
				</select>
				<span asp-validation-for="availability" class="text-danger"></span>
			</div>
			@*<div class="col-md-6">
				<label for="inputVideoUrl" class="form-label">Video URL</label>
				<input type="text" class="form-control" placeholder="Enter your Video in URL" asp-for="editVideoURL" id="videoURL">
				<span asp-validation-for="editVideoURL" class="text-danger"></span>
			</div>*@
		</div>
		<div class="row mt-4 mb-4">
			<div class="col">
				<label for="inputMission" class="form-label">Mission Images</label>
				<input type="File" class="form-control" placeholder="Select Images For Mission" multiple onchange="previewImages(event)" asp-for="images">
			</div>
		</div>
		<div class="row mt-4 mb-4">
			<div class="col" id="img-preview">
				@{
					@foreach (var img in Model.editMissionImages)
					{
						<img src="@img" width="150px" height="150px" class="me-3" />
					}
				}
			</div>
		</div>
		<div class="row mt-4 mb-4">
			<div class="col">
				<label for="inputDocs" class="form-label">Mission Documents</label>
				<input type="File" class="form-control" placeholder="Select Documents For Mission" multiple id="mission-documents" asp-for="Documents">
			</div>
		</div>
		<div class="row mt-4 mb-4">
			<div class="col" id="doc-preview">
				@{
					@foreach (var doc in Model.editMissionDocuments)
					{
						<span class="badge bg-primary me-1">@doc</span>
					}
				}
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-end mt-2">
				<button type="button" class="btn btn-outline-dark px-3 me-3" style="border-radius: 50px;">
					Cancel
				</button>
				<button type="submit" class="btn btn-outline-warning px-3" style="border-radius: 50px;">
					Submit
				</button>
			</div>
		</div>

	</form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
	getCountry();
	//$('#City').attr('disabled', true);
	$('#Country').change(function () {
		$('#City').empty();
		$('#City').append('<option>Select City</option>')
		//	$('#City').attr('disabled', false);
		var countryId = $('#Country	').val();
		$.ajax({
			url: '/User/getCityList',
			data: {
				id: countryId,
			},
			type: "POST",
			success: function (result) {
				$.each(result, function (i, data) {
					$('#City').append('<option value=' + data.cityId + '>' + data.name + '</option>')
				})

			}
		})
	})

	function getCountry() {
		$.ajax({
			url: '/User/getCountryList',
			type: 'POST',
			success: function (result) {
				$.each(result, function (i, data) {
					$('#Country').append('<option value=' + data.countryId + '>' + data.name + '</option>');
				})
			},
		})
	}

	//below function is for img change when we click on the chose file
	function previewImages(event) {
		var previewDiv = document.getElementById("img-preview");
		previewDiv.innerHTML = ""; // clear any existing images

		var files = event.target.files;
		var imagesContainer = document.createElement("div");
		imagesContainer.classList.add("d-flex", "flex-wrap"); // add flexbox styles
		previewDiv.appendChild(imagesContainer);


		for (var i = 0; i < files.length; i++) {
			var file = files[i];
			var reader = new FileReader();
			reader.onload = function (event) {
				var img = document.createElement("img");
				img.src = event.target.result;
				img.classList.add("img-thumbnail", "mx-2", "my-2");
				img.style.width = "100px";
				img.style.height = "100px";
				previewDiv.appendChild(img);
			};
			reader.readAsDataURL(file);
		}
	}

	//below function is for change skills when we select new skills
	$(document).ready(function () {
		// Listen to change event of checkbox inputs
		$('input[name="listOfSkill"]').change(function () {
			// Empty skill-preview div
			$('#skill-preview').empty();
			// Loop through all selected skills
			$('input[name="listOfSkill"]:checked').each(function () {
				// Get the skill name and add it to skill-preview div
				var skillName = $('label[for="' + $(this).attr('id') + '"]').text();
				$('#skill-preview').append('<span class="badge bg-primary me-1">' + skillName + '</span>');
			});
		});
	});

	//below function is for change skills when we slect new Documents
	$(document).ready(function () {
		// Listen to change event of file input
		$('#mission-documents').change(function () {
			// Empty doc-preview div
			$('#doc-preview').empty();
			// Loop through all selected files
			var files = $(this).prop('files');
			for (var i = 0; i < files.length; i++) {
				// Create a new file object and add it to doc-preview div
				var file = files[i];
				$('#doc-preview').append('<span class="badge bg-primary me-1">' + file.name + '</span>');
			}
		});
	});


</script>