@*@model IEnumerable<CIPlatformWeb.Entities.DataModels.Mission>*@
@model LandingPageVM

@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims;
@{
	var identity = User.Identity as ClaimsIdentity;
	var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
	var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
	var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
	var email = identity?.FindFirst(ClaimTypes.Email)?.Value;
}
<div style="background-color:red !important;">
	@if (TempData["Success Message"] != null)
	{
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script type="text/javascript">
			toastr.success('@TempData["Success Message"]');
		</script>
	}
	@if (TempData["Error Message"] != null)
	{
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script type="text/javascript">
			toastr.warning('@TempData["Error"]');
		</script>
	}
</div>

<style>
	.modal-backdrop {
		background-color: rgba(0,0,0,0.2) !important;
	}

	input[type="checkbox"]:checked {
		background-color: #F88634;
	}

	
</style>

<!-- First navbar  -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container">
		<div id="navigation-bar">
			<button class="navbar-toggler border-0" href="#menubar" role="button" data-bs-toggle="offcanvas"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					id="navbar-toggler-btn">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="menubar" aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul >
						<li class="navbar-nav nav-item dropdown">
							<a class="nav-link " id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Explore
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" onclick="loadMissions(1,'','topthemes')">Top Themes</a></li>
								<li><a class="dropdown-item" onclick="loadMissions(1,'','topRanked')">Most Ranked</a></li>
								<li><a class="dropdown-item" onclick="loadMissions(1,'','topFavourite')">Top Favourite</a></li>
								<li><a class="dropdown-item" onclick="loadMissions(1,'','RandomMissions')">Random</a></li>

							</ul>
						</li>
					</ul>
					<ul>
						<li class="navbar-nav nav-item">
							<a class="nav-link" aria-current="page" asp-controller="Story" asp-action="StoryListingPage">Stories</a>
						</li>
					</ul>
					<ul>
						<li class="navbar-nav nav-item dropdown">
							<a class="nav-link " href="#" id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Privacy
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="#">Volunteering</a></li>
								<li><a class="dropdown-item" href="#">Sponsered</a></li>

							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div id="navigation-bar1">
			<ul class="navbar-nav d-flex flex-row">
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item d-flex justify-content-center align-items-center me-3">
						<a class="card-btn position-relative" role="button" onclick="ShowNotification(@uid)" data-bs-toggle="modal" data-bs-target="#notificationModal">
							<i class="bi bi-bell text-black fs-5"></i>
							<span class="badge rounded-pill badge-notification position-absolute" style="background: #F88634; top: -5px; right: 5px;">5</span>
						</a>
						<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog  modal-dialog-scrollable" style="position: fixed;top: 3%;right: 17%;">
								<div class="modal-content">
									<div class="modal-header d-flex justify-content-between align-items-center">
										<div>
											<button class="card-btn border-0 bg-transparent" role="button" id="" data-bs-toggle="modal" data-bs-target="#settingforNotification">
												<i class="bi bi-gear-fill fs-5"></i>
											</button>
											<div class="modal fade " id="settingforNotification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog  modal-dialog-scrollable" style="position: fixed;top: 3%;right: 17%;width: 100%;">
													<div class="modal-content" style="height: 531px !important;">
														<div class="modal-header d-flex justify-content-center align-items-center">
															<h5 class="modal-title" id="exampleModalLabel">Notification Settings</h5>
														</div>
														<div class="modal-body">
															<div class="p-2 mb-2" style="background:#dedede">
																<p class="mb-0">Get a notification for</p>
															</div>
															<ul id="userCheckBox">
																@{
																	List<long?> userPreferences = new List<long?>();
																	if (Model.UserPreferencesList != null)
																	{
																		userPreferences = Model.UserPreferencesList.Where(p => p.UserId == Convert.ToInt32(uid))
																		.Select(p => p.NotificationId)
																		.ToList();
																	}
																}
																@foreach(var notify in Model.NotificationPreferencesList)
																{
																	bool isChecked = userPreferences.Contains(notify.NotificationId);
																	<li class="form-check mb-2 d-flex  align-items-center">
																		<input class="form-check-input" type="checkbox" value="@notify.NotificationId" style="float: right" @(isChecked ? "checked" : "")>
																		<label class="form-check-label ms-2" for="">@notify.Title</label>
																	</li>
																}
																
																
															</ul>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn cancel-btn rounded-pill" data-bs-dismiss="modal" style="border: 2px solid #F88634;color: #F88634;">Close</button>
															<button type="button" class="btn save-btn rounded-pill" data-bs-dismiss="modal" style="border: 2px solid #F88634;color: #F88634;" onclick="saveChckedValues(@uid)">Save</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<h4 class="mb-0">Notifications</h4>
										</div>
										<div>
											<button class="border-0 bg-transparent" role="button"><p class="mb-0">Clear all</p></button>
										</div>
									</div>
									<div class="modal-body userNotification">

										@*<div class="my-4">
											<table class="table table-borderless w-100">
												@for (int i = 0; i < 5; i++)
												{
													<tr class="border-1 d-flex align-items-center">
														<td><i class="bi bi-plus-circle fs-5"></i></td>
														<td><small>message of the day message of the day message of the day message of the day</small></td>
														<td class="text-end">
															<button class="border-0 bg-transparent">
																<i class="bi bi-circle-fill fs-5" style="color: #F88634;"></i>
															</button>
														</td>
													</tr>
												}
											</table>
										</div>*@
									</div>
									<div class="modal-footer">
										<button type="button" class="btn cancel-btn rounded-pill" data-bs-dismiss="modal" style="border: 2px solid #F88634;color: #F88634;">
											Close
										</button>
									</div>
								</div>
							</div>
						</div>
					</li>






					<li class="nav-item dropdown">
						<a class="nav-link  userName" href="#" id="navbarScrollingDropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">
							@{
								var profilePic = Model.UserData.Where(x => x.UserId == Convert.ToInt32(uid)).Select(x => x.Avatar).FirstOrDefault();
							}
							<img src="@Url.Content(profilePic)" class="rounded-circle" height="35" width="35" alt="Profile pic"
								 loading="lazy" />
							@name @surname
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="position:absolute;">



							<li><a class="dropdown-item" asp-controller="User" asp-action="UserProfile">Add Profile</a></li>
							<li><a class="dropdown-item" asp-controller="User" asp-action="VolTimeSheet">Volunteering TimeSheet</a></li>
							<li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">LogOut</a></li>
						</ul>
					</li>
				}
				else
				{
					<ul class="navbar-nav d-flex">
						@*<li class="btn-info me-2 pe-1" style="border-radius: 4px;width: 70px;"><a class="dropdown-item btn p-1 text-center" asp-controller="Login" asp-action="Admin">Admin</a></li>*@
						<li class="btn-info me-2 pe-1" style="border-radius: 4px;width: 70px;"><a class="dropdown-item btn p-1 text-center" asp-controller="Login" asp-action="Login">Login</a></li>
						<li class="btn-info me-2 pe-1" style="border-radius: 4px;width: 70px;"><a class="dropdown-item btn p-1 text-center" asp-controller="Registration" asp-action="Registration">Register</a></li>
					</ul>
				}
			</ul>
		</div>
	</div>
</nav>


<!-- Second Row for Search mission  -->
<div class="navbar-expand-md container-fluid border-top border-bottom bg-light px-0">
	<div class="row container mx-auto px-0">
		<div class="col-10 col-md-5 py-2">
			<form class="d-flex mx-5">
				<img src="~/Assets/search.png" id="search-icon" height="20" width="20" class="mt-2">
				<input class="form-control me-2 border-0 bg-light" type="search" asp-for="search" placeholder="Search mission by title..."
		aria-label="Search" id="search-field" onchange="this.form.submit()">
			</form>
		</div>
		<button class="col-auto navbar-toggler border-0 text-end" href="#filters" role="button"
				data-bs-toggle="offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation" id="navbar-toggler-btn">
			<img src="~/Assets/filter.png" alt="">
		</button>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="filters" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">


				<!-- Country Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item ">

							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0 "
								   role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Country Name
								</a>
								<ul class="dropdown-menu scrollable-menu ps-2" id="countryDropdown">
									@foreach (var countryList in Model.Countries)
									{
										<li class="form-check">
											<input class="form-check-input checkbox" type="checkbox" value="@countryList.Name"
												   id="Country">
											<label class="form-check-label" for="flexCheckDefault">
												@countryList.Name
											</label>
										</li>
									}
								</ul>
							</div>


					</ul>
				</div>

				<!-- City Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item ">

							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0 "
								   role="button" data-bs-toggle="dropdown" aria-expanded="false">
									City Name
								</a>
								<ul class="dropdown-menu scrollable-menu ps-2" id="cityDropdown">
									@foreach (var cityList in Model.Cities)
									{
										<li class="form-check">
											<input class="form-check-input checkbox" type="checkbox" value="@cityList.Name"
												   id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												@cityList.Name
											</label>
										</li>
									}
								</ul>
							</div>


					</ul>

					</li>
					</ul>
				</div>

				<!-- Theme Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Theme
							</a>

							<ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarScrollingDropdown" id="themesDropdown">
								@foreach (var themeList in Model.MissionThemes)
								{
									<li class="form-check ms-1">
										<input class="form-check-input checkbox" type="checkbox" value="@themeList.Title"
											   id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											@themeList.Title
										</label>
									</li>
								}
							</ul>

						</li>
					</ul>
				</div>

				<!-- Skills Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Skills
							</a>

							<ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarScrollingDropdown" id="skillsDropdown">
								@foreach (var skillsList in Model.Skills)
								{
									<li class="form-check ms-1">
										<input class="form-check-input checkbox" type="checkbox" value="@skillsList.SkillName"
											   id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											@skillsList.SkillName
										</label>
									</li>
								}
							</ul>

						</li>
					</ul>
				</div>


			</div>
		</div>
	</div>
</div>


@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>*@

@*This is for Cards Partial View showing*@

@*If This Link is disabled , dropdown not work in landing page*@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>


	//Landing Page Cards

	let missionToSearch = "";
	let sortBy = "";
	let exploreBy = ""


	$(document).ready(function () {
		loadMissions(pg = 1);

	});

	$("#search-field").on("keyup", function (e) {
		missionToSearch = $("#search-field").val().toLowerCase();
		console.log(missionToSearch);
		loadMissions(pg = 1);
	});



	function loadMissions(pg, sortVal, exploreVal) {
		var country = [];
		$('#countryDropdown').find("input:checked").each(function (i, ob) {
			country.push($(ob).val());
		});
		console.log(country);

		var city = [];
		$('#cityDropdown').find("input:checked").each(function (i, ob) {
			city.push($(ob).val());
		});

		var themes = [];
		$('#themesDropdown').find("input:checked").each(function (i, ob) {
			themes.push($(ob).val());
		});

		var skills = [];
		$('#skillsDropdown').find("input:checked").each(function (i, ob) {
			skills.push($(ob).val());
		});

		if (sortVal != null) {
			sortBy = sortVal;
		}
		if (exploreVal != null) {
			exploreBy = exploreVal;
		}


		$("#missionSpinner").removeClass("d-none");


		$.ajax({
			url: "/Home/LandingPage",
			method: "POST",
			dataType: "html",
			data: { "sortVal": sortBy, "search": missionToSearch, "pg": pg, "country": country, "city": city, "themes": themes, "skills": skills, "exploreVal": exploreBy },
			success: function (data) {
				// console.log(data);
				//debugger;
				$("#missionSpinner").addClass("d-none");
				$('#missions-list').html("");
				$('#missions-list').html(data);
			},
			error: function (error) {

				console.log(error);
			}
		});
	}

	
	// Below ajax code is for Select checkboxes and send it to controller
	function saveChckedValues(userId){
		var selectedCheckboxes = [];
		$('#userCheckBox li').find("input:checked").each(function (i, obj) {
			selectedCheckboxes.push(parseInt($(obj).val()));
		});
		console.log(selectedCheckboxes);

		$.ajax({
			method: 'POST',
			url: '/Notification/AddCheckedUserNotification',
			data: {
				selectedUserCheckedValues: selectedCheckboxes,
				userid: userId,
			},
			success: function (data) {
				location.reload();
				//alert("deleted Successfully");
			},
		});
	 
	 }


	$(document).ready(function () {
		$("#notifType li input[type='checkbox']").each(function () {
			// If the checkbox's value is in the list of IDs, check it
			if ($.inArray(parseInt($(this).val()), data.userNotifPrefList) !== -1) {
				$(this).prop("checked", true);
			}
		});
	});



	// Below ajax code is for showing users notifications when clicking on bell icon
	function ShowNotification(userid) {
		$.ajax({
			type: "POST",
			url: "/Notification/ShowUserNotification",
			data: {
				userId: userid,
			},
			success: function (result) {
				var messages = result;
				var html = '';
				for (var i = 0; i < messages.length; i++) {
					html += '<tr class="border-1 mb-2 d-flex align-items-center">';
					html += '<td><i class="bi bi-plus-circle fs-5"></i></td>';
					html += '<td class="ms-1"><small>' + messages[i] + '</small></td>';
					html += '<td class="text-end">';
					html += '<button class="border-0 bg-transparent">';
					html += '<i class="bi bi-circle-fill fs-5 me-0" style="color: #F88634;"></i>';
					html += '</button>';
					html += '</td>';
					html += '</tr>';
					
				}
				if (messages.length === 0) {
					html += '<tr><td colspan="3" class="text-center text-success fs-5">No notifications to show!</td></tr>';
				}
				$('.userNotification').html(html);
			},

			error: function (response) {
				alert("error in add to favourite");
				location.reload();
			}
		});
	}

</script>