@*@model IEnumerable<CIPlatformWeb.Entities.DataModels.Mission>*@
@model LandingPageVM	

@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims;
@{
	var identity = User.Identity as ClaimsIdentity;
	var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
	var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
	var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
}
<div style="background-color:red !important;">
		@if (TempData["Success Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.success('@TempData["Success Message"]');
			</script>
		}
		@if (TempData["Error Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.warning('@TempData["Error"]');
			</script>
		}
	</div>
<!-- First navbar  -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container">
		<div id="navigation-bar">
			<button class="navbar-toggler border-0" href="#menubar" role="button" data-bs-toggle="offcanvas"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					id="navbar-toggler-btn">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="menubar" aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<li class="navbar-nav nav-item">
						<a class="nav-link" aria-current="page" asp-controller="Story" asp-action="StoryListingPage">Stories</a>
					</li>
					<li class="navbar-nav nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">
							Privacy
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
							<li><a class="dropdown-item" href="#">Volunteering</a></li>
							<li><a class="dropdown-item" href="#">Sponsered</a></li>

						</ul>
					</li>
				</div>
			</div>
			</ul>
		</div>

		<div id="navigation-bar">
			<ul class="navbar-nav d-flex">
				@if (User.Identity.IsAuthenticated)
				{


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
							@{
								var profilePic = Model.UserData.Where(x => x.UserId == Convert.ToInt32(uid)).Select(x => x.Avatar).FirstOrDefault();
							}
							<img src="@Url.Content(profilePic)" class="rounded-circle" height="35" width="35" alt="Profile pic"
			loading="lazy" />
							@name @surname
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
							@*<li><a class="dropdown-item" href="#">Dashboard</a></li>*@
							<li><a class="dropdown-item" asp-controller="User" asp-action="UserProfile">Add Profile</a></li>
							<li><a class="dropdown-item" asp-controller="User" asp-action="VolTimeSheet">Volunteering TimeSheet</a></li>
						@*	<li><a class="dropdown-item" href="#">Help Center</a></li>*@
							<li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">LogOut</a></li>
						</ul>
					</li>
				}
				else
				{
					<ul class="navbar-nav d-flex">
						<li class="btn-info me-2 pe-1" style="border-radius: 4px;width: 70px;"><a class="dropdown-item btn p-1 text-center" asp-controller="Login" asp-action="Login">Login</a></li>
						<li class="btn-info me-2 pe-1" style="border-radius: 4px;width: 70px;"><a class="dropdown-item btn p-1 text-center" asp-controller="Registration" asp-action="Registration">Register</a></li>
					</ul>
				}
			</ul>
		</div>
	</div>
</nav>


<!-- Second Row for Search mission  -->
<div class="navbar-expand-md container-fluid border-top border-bottom bg-light px-0">
	<div class="row container mx-auto px-0">
		<div class="col-10 col-md-5 py-2">
			<form class="d-flex mx-5">
				<img src="~/Assets/search.png" id="search-icon" height="20" width="20" class="mt-2">
				<input class="form-control me-2 border-0 bg-light" type="search" asp-for="search" placeholder="Search mission by title..."
		aria-label="Search" id="search-field" onchange="this.form.submit()">
			</form>
		</div>
		<button class="col-auto navbar-toggler border-0 text-end" href="#filters" role="button"
				data-bs-toggle="offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation" id="navbar-toggler-btn">
			<img src="~/Assets/filter.png" alt="">
		</button>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="filters" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">


				<!-- Country Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item dropdown">

							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0 "
								   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Country Name
								</a>
								<ul class="dropdown-menu scrollable-menu ps-2" id="countryDropdown">
									@foreach (var countryList in Model.Countries)
									{
										<li class="form-check">
											<input class="form-check-input checkbox" type="checkbox" value="@countryList.Name"
												   id="Country">
											<label class="form-check-label" for="flexCheckDefault">
												@countryList.Name
											</label>
										</li>
									}
								</ul>
							</div>


					</ul>
				</div>

				<!-- City Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item dropdown">

							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0 "
								   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									City Name
								</a>
								<ul class="dropdown-menu scrollable-menu ps-2" id="cityDropdown">
									@foreach (var cityList in Model.Cities)
									{
										<li class="form-check">
											<input class="form-check-input checkbox" type="checkbox" value="@cityList.Name"
												   id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												@cityList.Name
											</label>
										</li>
									}
								</ul>
							</div>


					</ul>

					</li>
					</ul>
				</div>

				<!-- Theme Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Theme
							</a>

							<ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarScrollingDropdown" id="themesDropdown">
								@foreach (var themeList in Model.MissionThemes)
								{
									<li class="form-check ms-1">
										<input class="form-check-input checkbox" type="checkbox" value="@themeList.Title"
											   id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											@themeList.Title
										</label>
									</li>
								}
							</ul>

						</li>
					</ul>
				</div>

				<!-- Skills Section  -->
				<div class="col-auto py-2 px-2 mx-auto searchByFilter">
					<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Skills
							</a>

							<ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarScrollingDropdown" id="skillsDropdown">
								@foreach (var skillsList in Model.Skills)
								{
									<li class="form-check ms-1">
										<input class="form-check-input checkbox" type="checkbox" value="@skillsList.SkillName"
											   id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											@skillsList.SkillName
										</label>
									</li>
								}
							</ul>

						</li>
					</ul>
				</div>


			</div>
		</div>
	</div>
</div>


@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>*@

@*This is for Cards Partial View showing*@

@*If This Link is enabled , dropdown not work in landing page*@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>


	//Landing Page Cards

	let missionToSearch = "";
	let sortBy = "";


	$(document).ready(function () {
		loadMissions();

	});

	$("#search-field").on("keyup", function (e) {
		missionToSearch = $("#search-field").val().toLowerCase();
		console.log(missionToSearch);
		loadMissions();
	});



	function loadMissions(pg,sortVal) {
		var country = [];
		$('#countryDropdown').find("input:checked").each(function (i, ob) {
			country.push($(ob).val());
		});
		console.log(country);

		var city = [];
		$('#cityDropdown').find("input:checked").each(function (i, ob) {
			city.push($(ob).val());
		});

		var themes = [];
		$('#themesDropdown').find("input:checked").each(function (i, ob) {
			themes.push($(ob).val());
		});

		var skills = [];
		$('#skillsDropdown').find("input:checked").each(function (i, ob) {
			skills.push($(ob).val());
		});

		if (sortVal != null) {
			sortBy = sortVal;
		}




		$.ajax({
			url: "/Home/LandingPage",
			method: "POST",
			dataType: "html",
			data: { "sortVal": sortBy, "search": missionToSearch, "pg": pg, "country": country, "city": city, "themes": themes, "skills": skills },
			success: function (data) {
				// console.log(data);
				$('#missions-list').html("");
				$('#missions-list').html(data);
			},
			error: function (error) {

				console.log(error);
			}
		});
	}

			// <!--Search Script Start Ends-->

</script>